@{
    ViewData["Title"] = "Cadastrar novo contato";
    string? Data = ViewData["Status"] as string;
    List<UsuarioCadastroModel>? DadosCadastroFiltro = ViewData["DadosFiltrados"] as List<UsuarioCadastroModel>;
}

<h1>Filtrar contatos</h1>

<div class="minBox">
<form method="POST" action="/Home/Filtrar" class="form-inline minBox">

  <div class="form-group mx-sm-3 mb-2">
    <label  class="sr-only">Nome</label>
    <input type="text" class="form-control" name="Nome_filtro" placeholder="Nome">
  </div>

    <div class="form-group mx-sm-3 mb-2">
    <label  class="sr-only">Email</label>
    <input type="email" class="form-control" name="email_filtro" placeholder="email">
  </div>

    <div class="form-group mx-sm-3 mb-2">
    <label  class="sr-only">Data de criação</label>
    <input type="date" class="form-control" name="Data_filtro" >
  </div>
  
  <button class="btn btn-primary mb-2">Filtrar dados</button>
</form>
</div>

@if(Context.Request.Method == "POST"){
   <ul class="list-group list-group-flush Light">
   @foreach(var item in DadosCadastroFiltro){
     <li class="list-group-item">
            <div class="card_contact">
            <img src="@Url.Content("~/images/user.png")" height="50px" width="50px" />
            <div class="names_contatos">
                <h5>@item.Nome</h5>
                <h6 class="text-muted">@item.Email</h6>
            </div>
            <a href="/Cadastro/Detalhes/@item.CadastroId"><button class="bt_contact" onclick=""></button></a>
            </div>         
        </li>
   }
   </ul>
}