@{
    ViewData["Title"] = "Contatos Juridicos";
    List<UsuarioCadastroModel>? DadosCadastro = ViewData["DadosCadastrados"] as List<UsuarioCadastroModel>;
    string? Var1  = ViewData["Titulo"] as string;
}

<div>
    <h1>Lista de contatos cadastrados</h1>
</div>
<div>
    <ul class="list-group list-group-flush Light">
        <li class="list-group-item">
            <a class="card_contact" href="/Cadastro/Adicionar">
            <div class="alert alert-success" role="alert">
            Adicionar novo contato
            </div>
            </a>
        </li>
        @foreach (var item in DadosCadastro){
        <li class="list-group-item">
            <div class="card_contact">
            <img src="@Url.Content("~/images/user.png")" height="50px" width="50px" />
            <div class="names_contatos">
                <h5>@item.Nome</h5>
                <h6 class="text-muted">@item.Email</h6>
            </div>
            <a href="/Cadastro/Detalhes/@item.CadastroId"><button class="bt_contact" onclick=""></button></a>
            </div>         
        </li>
        }
    </ul>
</div>